:root{
    --body-bg-color: #f0f3e8;
      --primary-color: #386A20;
      --on-primary-color: #FFFFFF;
      --primary-container-color: #B8F397;
      --on-primary-container-color: #042100;
      --secondary-color: #55624C;
      --on-secondary-color: #FFFFFF;
      --secondary-container-color: #D9E7CB;
      --on-secondary-container-color: #131F0D;
      --tertiary-color: #386667;
      --on-tertiary-color: #FFFFFF;
      --tertiary-container-color: #bbebeb;
      --on-tertiary-container-color: #002020;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#editTaskFormModal { 
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#helpModal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
}

.vis-timeline{
    animation: fade-in-down 2.5s ease-in-out both;
}